@font-face {
  font-family: 'PUSSYFOOT';
  font-style: normal;
  font-weight: normal;
  src: local('PUSSYFOOT'), url('./pussyfoot.woff') format('woff');
}

.pussyfoot {
  font-family: 'PUSSYFOOT';
  font-weight: 200;
  color: black;
}
